<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="container">
		<header><%- include('../partials/header'); %></header>

		<main>
			<div class="container">
				<h1>Top employees</h1>
				<div class="container">
					<p>
						With a working GET request in Postman, you can now start to render
						the response in HTML
					</p>
					<p>
						Inside the "directory.ejs" page is a EJS version of a template
						literal. With templates like EJS or Handlebars we can then loop over
						the items of the array to render the HTML.
          </p>
          <p><ul>
            <li>Starting with a working Postman request, inside your route console.log the response</li>
            <li>Next you just need to pass the response object or array of objects into your template</li>
          </ul> </p>
          <p>The image below is just an example, remove it and render each employee like the example. Feel free to style it however you'd like! </p>
          <p>Try mocking up some Bootstrap cards or columns with some hard coded data to get an idea of how your templates should look. </p>
        </div>
				<div class="row justify-content-between">		  
		  
		  <% employees.forEach(function(employee){ %>
			<!-- <div class="row justify-content-between"></div>  --> 
				<img src="<%=employee[1].picture %>" class="col-3 p-1 m-2 bg-light">
				 <%=employee[1].firstName %>  <%=employee[1].lastName  %> <br>
				 <%=employee[1].email%> <br>
				 <%=employee[0]%>

			<!--    <%=employee[1].firstName %> <%=employee[1].lastName  %><br>
			 <%=employee[1].email  %><br>
			 <%=employee[0]  %>
			
			-->
			<!--  

				
			      -->
			 
			<!--  <a class="btn btn-primary mtn-sm" href="directory/<%= employee[0]%>">View Profile</a>    --> 
			 
		  <% }); %>

			
          <!-- YOUR EJS OR HANDLEBARS TEMPLATE LITERALS GO HERE -->

           <!-- Try mocking up some Bootstrap cards or columns with some hard coded data to get an idea of how your templates should look. -->
				</div>
			</div>
		</main>

		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>
